version: "3.8"
services:
  app:
    build: .
    container_name: fastapi_app
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_DB=${MONGODB_DB:-fastapi_beanie_db}
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  nginx:
    image: nginx:1.25-alpine
    container_name: fastapi_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - app